.Last14Days {
  width: 95%;
  height: auto;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2.5%;
  overflow-x: hidden;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(24, 120, 242, 0.25);
}

.Last14Days_section1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.Last14Days_title {
  font-weight: 600;
}

.Last14Days_barGraph {
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Last14Days_yAxis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem 0 1.5rem;
  font-size: 0.75rem;
}

.Last14Days_bars {
  display: flex;
  flex-direction: row;
}

.Last14Days_singleBar {
  margin-right: 1.75rem;
  font-size: 0.75rem;
}

.Last14Days_xAxis {
  padding-top: 0.5rem;
}
