:root {
  --pie: #b4ceff;
  --shadow: rgba(24, 120, 242, 0.25);
  --seperator: #eeeeee;
  --blue: #0c58e6;
  --blue1: #0d62ff;
  --circle: rgba(0, 8, 121, 0.75);
  --back: #e7efff;
  --front: #0d62ff;
  overflow-x: hidden;
}
.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 145vh;
  background-color: #eeeeee;
  font-family: Poppins;
}

.MiddleSection {
  position: absolute;
  top: 43vh;
  left: 21vw;
  width: 76vw;
  height: 50vh;
  margin-top: 0.625rem;
  padding: 0 1vw;
  display: flex;
}

.LastSection {
  position: absolute;
  margin: 0;
  top: 98vh;
  left: 21vw;
  width: 76vw;
  height: auto;
  padding-top: 0.625rem;
  padding: 0 1vw;
  display: flex;
  background-color: #eeeeee;
}
